
 body {

    background-color: magenta;

}

 #productList div {
    margin: 7px;
    border: 1px solid black;
    background-color: aquamarine;
 }

  #productList span {
    margin: 5px;
    border: 1px solid blue;
    background-color: lightgreen;
 }
